#content{
	padding-left: 60;
	padding-right: 60;
}

#content{
	margin-top: 40px;
}
/*下にあるのは別に消してもいい奴*/
#obj{
	float: center;
	display: block;
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: black;
	left: 1000px;
	top: 1000px;
}

body{
	width: 90%;
	height: 1600px;
}
