#content{
	padding-left: 60;
	padding-right: 60;
}

#content{
	margin-top: 40px;
}

#ball{
	float: center;
	display: block;
	width: 200px;
	height: 200px;
	position: absolute;
	border: 10px solid black;
	border-radius: 50%;
	background-color: white;
}
